@model EditPerson
<div class="form-group">
    <label asp-for="FirstName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="LastName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <textarea asp-for="LastName" class="form-control"></textarea>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="BirthDate" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="BirthDate" class="form-control" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="City" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="State" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="State" class="form-control" />
        <span asp-validation-for="State" class="text-danger"></span>
    </div>
</div>