@model ICollection<PersonSummary>
@{
    ViewData["Title"] = "Menus";
}
<br />

<div class="table-responsive">
    <table class="table table-striped recipe">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Accomplishments</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.NumberOfAccomplishments</td>
                    <td><a asp-action="View" asp-route-id="@person.Id" class="btn">View</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<a asp-action="Create" class="btn btn-success">Create new Person</a>